.form-input {
    height: 5em;
}

.reporting-form-container {
    background-color: #EAF4FE;
}

.icon {
    color: #F1C507;
    transform: scale(1.5);
}

.send-button{
    background-color: #5789FF;
    border-radius: 2em;
}
